.traceForm {
  .dialog-content {
    display: flex;
    flex-direction: column;

    .header {
      font-size: 16px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-weight: bold;
    }

    .content {
      display: flex;
      height: 100%;
      padding: 0 10px;
      flex-direction: column;
      overflow: auto;

      .chkList {
        margin: 10px 0;

        .header {
          font-size: 14px;
        }

        header {
          font-weight: bold;
        }
      }
    }
  }
}
