.unitrecord-container {
  display: flex;
  flex-direction: row !important;

  .left-container {
    width: 260px;
    padding: 15px;
    margin-right: 20px;
    overflow: hidden;
    overflow-y: auto;
    background-color: rgba(255, 255, 255, 0.07);

    .el-tabs {
      .el-tabs__header {
        .el-tabs__nav-wrap {
          .el-tabs__nav-scroll {
            .el-tabs__nav {
              position: relative;
              width: 100%;
              height: 40px;

              .el-tabs__active-bar {
                display: none;
              }

              #tab-division {
                clip-path: polygon(0 0, 100% 0, 100% 0, 0 400%);
                left: 0;
              }

              #tab-directly {
                padding-left: 20px;
                clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%, 23% 0%);
                right: 0;
              }

              .el-tabs__item {
                position: absolute;
                top: 0;
                width: 57%;
                padding: 0;
                text-align: center;
                color: #97c1ff;
                background: #2750ad;

                &.is-active {
                  color: #f2f6ff;
                  background: #2c66e6;
                }
              }
            }
          }
        }

        .el-tabs__nav-wrap::after {
          display: none;
        }
      }

      .el-tabs__content {}
    }
  }

  .right-container {
    width: calc(100% - 280px);

    .table-box {
      height: calc(100% - 137px);
    }
  }
}
