.inspect-main {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding: 20px;
  background-color: #001647;

  /* 主管单位 */
  &.executiveUnit {
    display: flex;
    flex-direction: row;

    .executive-areatree {
      width: 260px;
      padding: 15px;
      margin-right: 20px;
      overflow: hidden;
      overflow-y: auto;
      background-color: rgba(255, 255, 255, 0.07);

      .title{
        width: 100%;
        height: 32px;
        margin-bottom: 10px;
        color: #fff;
        font-size: 13px;
        text-align: center;
        line-height: 32px;
        background: #2c66e6;
      }
    }

    .executive-content {
      width: calc(100% - 280px);
      height: 100%;
    }
  }

  /* 主管单位 */

  /* 查询框 */
  .search-box {
    position: relative;
    width: 100%;
    margin-bottom: 15px;

    .picture-btn {
      margin-left: 10px;
      color: #fff;
      border: 1px solid #378885;
      background-color: #378885;
    }

    .search-divider {
      position: absolute;
      width: 15px;
      height: 1px;
      // background: url(../images/slide.png)0 0 no-repeat;

      &.floor {
        left: 900px;
        top: 17px;
      }

      &.plan {
        left: 462px;
        top: 17px;
      }
    }

    .el-button:not(.search-btn) {
      height: 30px !important;
      padding: 0 12px;
      margin-top: 3px;
      text-align: center;
      line-height: 30px;
    }
  }

  /* 查询框 */
  /* 条件框 */
  .filter-box {
    width: 100%;
    height: 28px;
    margin-bottom: 15px;

    .el-button {
      height: 30px;
      padding: 0 21px;
      color: #fff;
      text-align: center;
      line-height: 28px;

      &.add {
        border: 1px solid #409eff;
        background-color: #409eff;
      }

      &.add-ment {
        border: 1px solid #409eff;
        background-color: #409eff;
      }

      &.add-user {
        border: 1px solid #00a0e9;
        background-color: #00a0e9;
      }

      &.edit {
        border: 1px solid #67c23a;
        background-color: #67c23a;
      }

      &.delect {
        border: 1px solid #dd6060;
        background-color: #dd6060;
      }

      &.user {
        border: 1px solid #e6a23c;
        background-color: #e6a23c;
      }

      &.record {
        border: 1px solid #0cc3b4;
        background-color: #0cc3b4;
      }

      &.weichat {
        border: 1px solid #a532c6;
        background-color: #a532c6;
      }

      &.refresh {
        border: 1px solid #ec9c14;
        background-color: #ec9c14;
      }

      &.rectified {
        border: 1px solid #b23939;
        background-color: #b23939;
      }

      &.rectification {
        border: 1px solid #c79600;
        background-color: #c79600;
      }

      &.reviewed {
        border: 1px solid #78278f;
        background-color: #78278f;
      }

      &.preview {
        border: 1px solid #78278f;
        background-color: #78278f;
      }

      &.archived {
        border: 1px solid #6e8f1d;
        background-color: #6e8f1d;
      }
    }
  }

  /* 条件框 */

  /* 列表框 */
  .table-box {
    width: 100%;
    margin-bottom: 10px;
    height: calc(100% - 137px);

    .title {
      color: #97c1ff;
      font-weight: bold;
      font-size: 14px;
      margin: 0 0 20px 5px;
    }

    .scrollbar {
      height: 628px;

      >.el-scrollbar {
        height: 100%;

        .el-scrollbar__wrap {
          overflow-x: hidden;
          overflow-y: scroll;
        }

        .el-scrollbar__bar {
          &.is-vertical {
            width: 4px; // 滚动条宽度
          }
        }

        .el-scrollbar__thumb {
          background-color: #4c79eb; // 可设置滚动条颜色
        }
      }

      .el-table {
        color: #97c1ff;

        .el-table__header {
          th {
            color: #97c1ff;
            border-bottom: 1px solid #1c335f;
            background: #1c335f;
          }
        }

        .el-table__footer-wrapper {
          td {
            color: #97c1ff;
            border-top: 1px solid rgba(63, 203, 255, .1);
            background: rgba(63, 203, 255, .1);
          }
        }

        .el-table__row,
        .hover-row {
          background: #001647;

          td {
            border-bottom: 1px solid #1c335f;
            background: #001647;
          }
        }

        .is-checked {
          .el-checkbox__inner {
            background-color: #1890ff;
            border-color: #1890ff;
          }
        }

        .is-indeterminate {
          .el-checkbox__inner {
            background-color: #1890ff;
            border-color: #1890ff;
          }
        }

        .el-checkbox__inner {
          width: 19px;
          height: 19px;
          border: 1px solid #3682c8;
          background: transparent;
        }

        .el-checkbox__inner::before {
          height: 4px;
          top: 7px;
        }

        .el-checkbox__inner::after {
          height: 10px;
          left: 7px;
          top: 2px;
        }

        /* 标题 */
        .el-table__header-wrapper {
          th {
            color: #97c1ff;
            border-bottom: 1px solid #1c335f;
            background: #1c335f;
          }
        }

        /* 内容 */
        .el-table__body-wrapper {
          tr {
            background: #001647;
          }

          /* hover高亮 */
          tr:hover>td {
            background: #001647;
          }

          td {
            border-bottom: 1px solid #1c335f;
          }

          /* 巡查点类型设置 */
          .el-table__row--level-1:hover {
            td {
              background: rgba(62, 86, 124, .19);
            }
          }

          .el-table__row--level-1 {
            td {
              background: rgba(62, 86, 124, .19);
            }
          }

          .cell {
            .el-table__expand-icon {
              .el-icon-arrow-right:before {
                content: "\E6D9";
              }

              &.el-table__expand-icon--expanded {
                transform: rotate(0deg);

                .el-icon-arrow-right:before {
                  content: "\E6D8";
                }
              }
            }
          }

          /* 巡查点类型设置 */
        }
      }
    }

    .el-table::before {
      background-color: #1c335f;
    }

    .el-table__fixed::before {
      background-color: #1c335f;
    }
  }

  .pagination-box {
    display: flex;
    justify-content: flex-end;
    width: 100%;
  }
}

::-webkit-scrollbar {
  width: 4px;
  border-radius: 4px;
  background-color: #c0c0c0;
}

/*定义滚动条轨道 内阴影+圆角*/
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #21345f;
}

/*定义滑块 内阴影+圆角*/
::-webkit-scrollbar-thumb {
  border-radius: 4px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #4c79eb;
}

::-webkit-scrollbar-thumb:hover {
  border-radius: 4px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #287bbb;
}
